[submodule "docs"]
    path = docs
    url = https://github.com/bitshares3/bitshares3-core.wiki.git
    ignore = dirty
[submodule "libraries/fc"]
    path = libraries/fc
    url = https://github.com/bitshares3/bitshares-fc.git
    ignore = dirty
